# 1. Ignore the heavy data files
videos/**/*.mp4
videos/**/*.mov
videos/**/*.avi
features/**/*.npy
raw/**/*.mp4
raw/**/*.mov
raw/**/*.avi

# 2. DO NOT ignore the folder markers (.gitkeep)
!**/.gitkeep

# 3. Ignore Python environment and cache
venv/
__pycache__/
.DS_Store